<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.animezone">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_animezone"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Top.TopAjenoActivity"></activity>
        <activity android:name=".Top.TopSeguidosActivity" />
        <activity android:name=".Top.MostrarInformacionActivity" />
        <activity android:name=".Top.TopActivity" />
        <activity android:name=".InicioSesion.ContrasenaOlvidadaActivity" />
        <activity android:name=".Configuracion.CambiarContrasenaActivity" />
        <activity android:name=".Configuracion.AutentificarCredencialesActivity" />
        <activity android:name=".TusPublicaciones.TusPublicacionesActivity" />
        <activity android:name=".Wallpapers.WallpaperActivity" />
        <activity android:name=".Notificaciones.NotificacionesActivity" />
        <activity android:name=".PublicacionesFavoritas.PublicacionesFavoritasActivity" />
        <activity android:name=".Seguidores.SeguidoresActivity" />
        <activity android:name=".Buscador.BuscadorActivity" />
        <activity android:name=".Configuracion.ConfiguracionActivity" />
        <activity android:name=".Chat.ChatActivity" />
        <activity android:name=".Chat.ListaChatsActivity" />
        <activity android:name=".Perfil.PerfilAjenoActivity" />
        <activity android:name=".Perfil.PerfilActivity" />
        <activity android:name=".MenuLateralActivity" />
        <activity android:name=".MenuPrincipalActivity" />
        <activity
            android:name=".PantallaInicio.SplashScreen"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Publicaciones.CrearPublicacionActivity" />
        <activity android:name=".Publicaciones.ListaPublicacionesActivity" />
        <activity android:name=".InicioSesion.RegistroActivity" />
        <activity android:name=".InicioSesion.LoginActivity" />
    </application>

</manifest>